doctype html
html(ng-app='angularApp')
    base(href='/')
    head
        title Recipe Finder
        script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js')
        script(src='javascripts/app.js', type='text/javascript')
    body
        p Welcome to Recipe Finder #{login}
        input(type="button", onclick="location.href='/'", value="Logout")
        br
        a(href='/myAccount/#{login}') MY ACCOUNT
        p Search for a recipe
        div(ng-controller='searchController')
            select(ng-model='searchMode', ng-options='x for x in modes')
            br
            br
            div(ng-if="searchMode=='Keyword'", ng-controller='searchController')
                input(type='text', name='key', ng-model='key')
                br
                br
                button(type='submit', ng-click='updateResKey()') Submit
                p {{emptymsg}}
                select(name='ordering', ng-model='ordering')
                    option(value='') ---Sort By---
                    option(value='arate') Highest Avg Rating
                    option(value='numrate') Most Rated
                    option(value='numfav') Most Favorited
                ul
                    li(ng-repeat='item in kdata | orderBy:ordering:true')
                        a(ng-href='/viewRecipeUser/{{item.ID}}&#{login}') {{item.Title}}
                        |  Rating:{{item.arate}}/5
            div(ng-if="searchMode=='Ingredient'", ng-controller='searchController')
                input(type='text', name='ingr1', ng-model='ingr1')
                input(type='text', name='ingr2', ng-model='ingr2')
                input(type='text', name='ingr3', ng-model='ingr3')
                br
                br
                button(type='submit', ng-click='updateResIngr()') Submit
                p {{emptymsg}}
                select(name='ordering', ng-model='ordering')
                    option(value='') ---Sort By---
                    option(value='arate') Highest Avg Rating
                    option(value='numrate') Most Rated
                    option(value='numfav') Most Favorited
                ul
                    li(ng-repeat='item in idata | orderBy:ordering:true')
                        a(ng-href='/viewRecipeUser/{{item.ID}}&#{login}') {{item.Title}}
                        |  Rating:{{item.arate}}/5
            div(ng-if="searchMode=='Category'")
                select(name='catMode', ng-model='catMode', ng-init='getCat()', ng-options='item.Category for item in categories')
                br
                br
                div(ng-controller='searchController')
                    button(type='submit', ng-click='updateResCat()') Submit
                    select(name='ordering', ng-model='ordering')
                        option(value='') ---Sort By---
                        option(value='arate') Highest Avg Rating
                        option(value='numrate') Most Rated
                        option(value='numfav') Most Favorited
                    ul
                        li(ng-repeat='item in cdata | orderBy:ordering:true')
                            a(ng-href='/viewRecipeUser/{{item.ID}}&#{login}') {{item.Title}}
                            |  Rating:{{item.arate}}/5
        p Trending Recipes
            div(ng-controller='TrendingRecipeController')
                ul
                    li(ng-repeat='item in favdata')
                        a(ng-href='/viewRecipeUser/{{item.ID}}&#{login}') {{item.Title}}
